h1 {
  text-align: center;
  font-size: 100px;
  color: blue;
}
.clock {
  width: 50%;
  margin: 0 auto;
  text-align: -webkit-center;
}

.timer-bar {
  width: 10%;
  border-bottom: solid 2px black;
}
