h1 {
  text-align: center;
  font-size: 100px;
  color: white;
}
.clock {
  width: 50%;
  margin: 0 auto;
  text-align: -webkit-center;
}

.timer-bar {
  width: 10%;
  border-bottom: solid 2px white;
}

.container {
  height: 100vh; /* vh...Mady's reminder */
}
